<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD</title>
</head>
<body>
<a href="/">Главная</a><br>
<a href="/add">Доавить фильм</a><br>
<form action="/add" method="post">
    <input type="text" name="title" placeholder="Название фильмы"><br>
    <textarea name="description" placeholder="Описание"></textarea><br>
    <input type="text" name="year" placeholder="Год"><br>
    <input type="text" name="country" placeholder="Страна"><br>
    <input type="text" name="date" placeholder="Дата"><br>
    <button type="submit">Добавить фильм</button>
</form>
</body>
</html>